body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}
canvas {
  position: absolute;
}
iframe {
  position: absolute;
  width: 0rem;
  display: none;
  z-index: -1;
}

#play {
  display: flex;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem;
  border: solid 2px;
  border-radius: 5px;
  z-index: 10;
  top: 3rem;
  cursor: pointer;
}

// #mute {
//   display: flex;
//   position: absolute;
//   background-color: white;
//   color: black;
//   font-size: 3rem;
//   font-family: "Courier New", Courier, monospace;
//   padding: 1rem;
//   border: solid 2px;
//   border-radius: 5px;
//   z-index: 10;
//   bottom: 3rem;
//   cursor: pointer;
// }
